<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário de Computadores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Meu Inventário</h1>
    <div id="pecas-list">
        <h2>Peças</h2>
        </div>
    <div id="computadores-list">
        <h2>Computadores</h2>
        </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>